 table{
    border: 5px solid black ;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"]{
    width: 50px;
    padding: 20px 50px;
    background-color: gray;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
}
input[number="number"]{
    padding: 20px 50px;
    font-size: 20 px;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
input[type="button"]:hover{
    background-color: red;
}